@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-style: oblique 0deg 10deg;
  src: url('/fonts/inter-slnt,wght.woff2') format('woff2');
}

:root {
  --font-family-sans: 'Inter', sans-serif;

  --color-background: 24 24 24; /* #181818 */
  --color-foreground: 238 238 238; /* #EEEEEE */
  --color-surface: 40 40 40; /* #282828 */

  --color-info: 92 175 252; /* #5CAFFC */
  --color-success: 92 193 84; /* #5CC154 */
  --color-warn: 218 142 71; /* #DA8E47 */
  --color-error: 242 93 93; /* #F25D5D */
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: 255 255 255; /* #FFFFFF */
    --color-foreground: 0 0 0; /* #000000 */
    --color-surface: 238 238 238; /* #EEEEEE */

    --color-info: 19 134 240; /* #1386F0 */
    --color-success: 17 154 7; /* #119A07 */
    --color-warn: 201 102 7; /* #C96609 */
    --color-error: 181 10 10; /* #B50B0B */
  }
}

@layer utilities {
  .slant {
    font-variation-settings: "slnt" -10;
  }
}

:root {
  font-size: 16px;
  font-weight: 400;
  @apply bg-background text-foreground font-sans;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overscroll-behavior: none;
}

*:not(input) {
  @apply select-none cursor-default;
}

@layer components {
  .shiki {
    @apply !bg-transparent block;

    code {
      @apply block w-max min-w-full;
    }

    .line {
      @apply inline-block pl-7 pr-3 relative w-full after:content-['_'];

      &.hunk { @apply bg-info/30 py-1 [&_*]:!text-foreground/70; }
      &.added { @apply bg-success/20 before:content-['+']; }
      &.removed { @apply bg-error/20 before:content-['-']; }
      &.added::before, &.removed::before {
        @apply absolute left-0 top-0 bottom-0 flex items-center pl-2;
      }
    }
  }
}
